<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">{{ productoSeleccionado.nombre }}</h1>
    <button class="button button-assertive" ng-click="cerrarDetalleProducto()"><i class="icon ion-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="row row-bottom">
      <div class="col col-80 col-offset-10">
        <img ng-src="{{ productoSeleccionado.Imagen }}" width="100%">
      </div>
    </div>
    <div class="row">
      <p>{{ productoSeleccionado.descripcion }}</p>
    </div>

    <ion-card
      class="list card"
      ng-init="mostrarClase(item, $index)"
      ng-repeat="item in categoriasbytiposervicio track by $index"
    >
      <h1 class="category-class" ng-if="item.mostrarClase">
        {{ item.clase }}
      </h1>
      <ion-item class="item-divider category-name">
        <div ng-if="item.Id==12">
<p>*Si alguno de los estudios seleccionados</br>
   requiere Tomografía o Fotografía</br>
   a su elección por favor especifique qué</br>
    tomas desea a continuación:</p>
</div>
        <ion-checkbox ng-model="item.selected" ng-change="seleccionarCategoria(item)">{{ item.nombre }}</ion-checkbox>
      </ion-item>
      <ion-list class="category-sub-items box">
        <div class="row row-up row-app">
          <h1
            ng-if="sub.mostrarClase"
            class="sub-category-class col col-100"
            ng-repeat-start="sub in item.SubCategoria track by $index"
          >
            {{ sub.clase }}
          </h1>
          <ion-item
            class="col"
            ng-repeat-end
            ng-class="sub.CssClass"
          >
            <ion-checkbox
              ng-if="sub.campo=='check'"
              ng-model="sub.selected"
              ng-click="adicionarArraySubsChecks(sub,item.nombre)"
            >{{sub.nombre}}</ion-checkbox>
            <label
              ng-if="sub.campo=='none'"
              class="label-only"
            >{{sub.nombre}}</label>
            <label
              class="item item-input item-stacked-label"
              ng-if="sub.campo=='texto'"
            >
              <span class="input-label">{{sub.nombre}}</span>
              <input
                type="text"
                ng-model="sub.textocategoria"
                placeholder="Escriba aquí"
                ng-blur="adicionarArraySubsText(sub.textocategoria,sub,item.nombre)"
              >
            </label>
            <!-- <input
              type="text"
              ng-if="sub.campo=='texto'"
              ng-model="textocategoria"
              placeholder="{{sub.nombre}}"
              ng-blur="adicionarArraySubsText(textocategoria,sub,item.nombre)"
            /> -->
          </ion-item>
        </div>
      </ion-list>
    </ion-card>

    <!--fin renderizar categorias o estudios panoramax-->

    <div class="row vp-0 vm-0">
      <div class="col vp-0 vm-0">
        <button class="button button-assertive button-block vp-0 vm-0" ng-click="agregarAPedido()">AGREGAR</button>
      </div>
    </div>
    <br>
  </ion-content>
</ion-modal-view>
