<ion-view view-title="+ Panoramax +">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in tipos">
        <div ng-click="mostrarTipo(item)"> {{item}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
