<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="menu" side="left">
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar">
          <img src="http://www.gravatar.com/avatar/{{ userMd5 }}">

          <h2>{{ user.Nombre }}</h2>
          <p>{{ user.Correo }}</p>
          <a menu-toggle="left"
            href="#/app/profile"
            class="button button-block button-positive button-small">Ver perfil</a>
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/home">
          <i class="icon ion-home"></i>
          Home
        </ion-item>
        <!--<ion-item menu-close class="item-icon-left" ng-click="selectCategory()">
          <i class="icon ion-bag"></i>
          Ver categorías
        </ion-item>-->
        <ion-item menu-close class="item-icon-left" ng-click="showOrders()">
          <i class="icon ion-card"></i>
          Enviados
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
