<ion-view class="inicio" view-title="Categorias">
  <ion-content>
    <div class="row row-bottom row-app">
      <div class="col col-50" ng-repeat="vari in categorias">
        <div class="list card">
          <a ng-href="#/app/index/{{ vari.Id }}" class="item item-text-wrap">
            <img ng-src="{{ vari.Imagen }}" style='width: 100%;'>
            <h2 class="text-center">{{ vari.nombre }}</h2>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
