<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Detalle orden</h1>
    <button class="button button-assertive" ng-click="cerrarDetallePedido()"><i class="icon ion-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="spacer" style="height: 20px;"></div>
    <h3 class="text-center">Detalle de la orden</h3>
    <div class="spacer" style="height: 10px;"></div>

    <!--<ion-list>
      <ion-item ng-repeat="pro in currentOrder">
        <div class="row row-center">
          <div class="card">
            <div class="item item-text-wrap">
              {{pro.SubCategorium.Categorium.nombre}}<br>
              {{pro.SubCategorium.nombre}}<br>
              <label ng-if="pro.campoAbierto!='ninguno'">{{pro.campoAbierto}}</label>
            </div>
          </div>
        </div>
      </ion-item>
      <div class="spacer" style="height: 2px;" ng-repeat-end></div>
    </ion-list>-->

    <ion-list>
      <ion-item ng-repeat-start="pro in catShow" class="item-divider category-name">
        {{ pro.name }}
      </ion-item>
      <ion-list ng-repeat-end class="category-sub-items box">
        <div class="row row-up row-app">
          <h1
            ng-if="sub.clase"
            ng-repeat-start="sub in pro.subs"
            class="sub-category-class col col-100"
          >{{ sub.clase }}</h1>
          <ion-item
            ng-class="sub.CssClass"
            ng-repeat-end
          >
            <label class="label-only">
              {{sub.name}}
              <span ng-if="sub.text">[{{ sub.text }}]</span>
            </label>
          </ion-item>
        </div>
      </ion-list>
      <div class="spacer" style="height: 20px;" ng-repeat-end></div>
    </ion-list>

  </ion-content>
</ion-modal-view>
