<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Cesta de compras</h1>
    <button class="button button-assertive" ng-click="cerrarDetalleCesta()"><i class="icon ion-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="spacer" style="height: 20px;"></div>
    <h3 class="text-center">Cesta de compras</h3>
    <p class="text-center">Total compra <strong>{{ TotalCompra() | currency:"$":0 }}</strong></p>

    <div class="spacer" style="height: 20px;"></div>
    <ion-list>
      <label class="item item-input item-select">
        <div class="input-label">Dirección</div>
        <select
          ng-model="direccionPedido"
          ng-change="CheckAddress(direccionPedido)">
          <option disabled value>Dirección de entrega</option>
          <option value='nva'>Agrega una nueva dirección</option>
          <option
            ng-repeat="dir in profileData.Direccion track by dir.Id"
            value="{{ dir.Id }}"
            ng-selected="dir.Id==direccionPedido">{{ dir.Linea1 }}</option>
        </select>
      </label>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>

    <div class="card" ng-repeat="pro in Productos" ng-if="pro.cnt">
      <div class="row row-center">
        <div class="col col-25">
          <img ng-src="{{ pro.ImagenPrincipal }}"alt="{{ pro.Nombre }}" style="width: 100%">
        </div>
        <div class="col col-50">
          <div class="row">
            <div class="col">{{ pro.Nombre }}</div>
          </div>
          <div class="row">
            <div class="col">
              <div class="button-bar">
                <button
                  style="padding: 0;"
                  ng-click="pro.cnt=pro.cnt-1"
                  class="button button-assertive button-small col-10">
                  <i class="icon ion-minus"></i>
                </button>
                <input type="text" class="text-center col-80" readonly ng-model="pro.cnt">
                <button
                  style="padding: 0;"
                  ng-click="pro.cnt=pro.cnt+1"
                  class="button button-assertive button-small col-10">
                  <i class="icon ion-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-25 text-right">{{ pro.Precio*pro.cnt | currency:"$":0 }}</div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button
        ng-click="VaciarCanasta()"
        class="button button-assertive icon-left ion-trash-a">
        Vaciar cesta
      </button>
      <button
        ng-click="GuardarPedido()"
        class="button button-balanced icon-left ion-paper-airplane">
        Hacer pedido
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
