<ion-view view-title="+ Panoramax +">
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="search.Nombre" placeholder="Busque un producto">
      </label>
    </ion-list>

    <ion-slide-box show-pager="true">
      <ion-slide ng-repeat="variedad in categorias | filter: categories">
        <div class="box">
          <div class="row row-up row-app">
            <div class="col" ng-class="pro.CssClass" ng-repeat="pro in variedad.SubCategoria | filter: search">
              <article class="producto" ng-drag="true" ng-drag-data="pro" data-allow-transform="true" ng-click="verDetalleProducto(pro)">
                <img ng-src="{{ pro.ImagenPrincipal }}" style='width: 100%;'>
                <div class="text-center product-price" style="font-size:.8rem;word-wrap: normal;">$0</div>
                <!--nuevo-->
                <div class="text-center product-price" style="font-size:.8rem;word-wrap: normal;">{{ pro.nombre}}</div>
                <!--nuevo-->
                <div class="num-productos" ng-if="ObtenerCantidadPedida(pro)">{{ ObtenerCantidadPedida(pro) }}</div>
              </article>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <!-- <ion-footer-bar class="bar-dark shopping-cart" ng-click="VerCesta()">
    <div ng-drop="true" ng-drop-success="onDropComplete($data, $event)"></div>
  </ion-footer-bar> -->

<ion-pull-up-footer class="bar-dark" on-expand="VerCesta()">
  <!-- <div ion-pull-up-trigger></div> -->

  <ion-pull-up-bar ion-pull-up-trigger>
    <div ng-drop="true" ng-drop-success="onDropComplete($data, $event)">
      <h3 class="text-center total-compra-preview" ng-show="TotalCompra()>0">{{ TotalCompra() + $domicilio | currency:"$":0 }}</h3>
    </div>
  </ion-pull-up-bar>

  <!-- <ion-pull-up-handle width="120" height="15" toggle="ion-chevron-down ion-chevron-up" style="border-radius: 5px 5px 0 0">
    <i class="icon ion-drag"></i>
  </ion-pull-up-handle> -->

  <ion-pull-up-content scroll="false" class="item item-body item-stable">

    <div class="spacer" style="height: 20px;"></div>
    <h2 class="text-center title-shopping-cart">Cesta de compras</h2>
    <p class="text-center text-shopping-cart">Compra <strong>{{ TotalCompra() | currency:"$":0 }}</strong></p>
    <p class="text-center text-shopping-cart" ng-show="TotalCompra()>0">Domicilio <strong>{{ $domicilio | currency:"$":0 }}</strong></p>
    <p class="text-center text-shopping-cart" ng-show="TotalCompra()>0">Total compra <strong>{{ TotalCompra() + $domicilio | currency:"$":0 }}</strong></p>

    <div class="spacer" style="height: 20px;"></div>
    <ion-list>
      <label class="item item-input item-select">
        <div class="input-label">Dirección</div>
        <select
          ng-model="direccionPedido"
          ng-change="CheckAddress(direccionPedido)">
          <option disabled value>Dirección de entrega</option>
          <option value='nva'>Agrega una nueva dirección</option>
          <option
            ng-repeat="dir in profileData.Direccion track by dir.Id"
            value="{{ dir.Id }}"
            ng-selected="dir.Id==direccionPedido">{{ dir.Tipo }} {{ dir.Num1}} # {{ dir.Num2 }} - {{ dir.Num3 }}</option>
        </select>
      </label>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>

    <ion-list>
      <ion-item ng-repeat-start="pro in Productos" ng-if="pro.cnt">
        <div class="row row-center">
          <div class="col col-25">
            <img ng-src="{{ pro.ImagenPrincipal }}"alt="{{ pro.Nombre }}" style="width: 100%">
          </div>
          <div class="col col-50">
            <div class="row">
              <div class="col">{{ pro.Nombre }}</div>
            </div>
            <div class="row">
              <div class="col">
                <div class="button-bar">
                  <button
                    style="padding: 0;"
                    ng-click="pro.cnt=pro.cnt-1"
                    class="button button-assertive button-small col-25">
                    <i class="icon ion-minus"></i>
                  </button>
                  <input type="text" class="text-center col-50" readonly ng-model="pro.cnt">
                  <button
                    style="padding: 0;"
                    ng-click="pro.cnt=pro.cnt+1"
                    class="button button-assertive button-small col-25">
                    <i class="icon ion-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-25 text-right">{{ pro.Precio*pro.cnt | currency:"$":0 }}</div>
        </div>
      </ion-item>
      <div class="spacer" style="height: 20px;" ng-repeat-end></div>
    </ion-list>

    <ion-list>
      <label class="item item-input item-select">
        <div class="input-label">Pago</div>
        <select
          ng-model="medioPago">
          <option disabled value selected>Seleccione la forma de pago</option>
          <option
            ng-repeat="medio in mediosPago track by medio.Id"
            ng-if="medio.Activo"
            value="{{ medio.Id }}">{{ medio.Nombre }}</option>
        </select>
      </label>
    </ion-list>

    <ion-list>
      <button
        ion-pull-up-trigger
        ng-click="GuardarPedido()"
        class="button button-balanced button-block icon-left ion-paper-airplane">
        Hacer pedido
      </button>
      <button
        ion-pull-up-trigger
        ng-click="VaciarCanasta()"
        class="button button-assertive button-block icon-left ion-trash-a">
        Vaciar cesta
      </button>
    </ion-list>
  </ion-pull-up-content>
</ion-pull-up-footer>

</ion-view>
