<ion-view view-title="Panoramax">
  <ion-content>

    <!--<ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="search.Nombre" placeholder="Busque un producto">
      </label>
    </ion-list>-->
    <img src="img/cel.png" style='width: 100%;'>

    <div class="card">
      <div class="item item-divider">
      ¡ BIENVENIDO !
      </div>
      <div class="item item-text-wrap">
        Gracias por remitirnos sus pacientes<br>
      </div>
    </div>


    <ion-slide-box show-pager="false">
      <ion-slide>
        <div class="box">
          <div class="row row-up row-app">
            <div class="col" ng-class="pro.CssClass" ng-repeat="pro in tiposervicios">
              <article class="producto" ng-drag="false" ng-drag-data="pro" data-allow-transform="true" ng-click="verDetalleProducto(pro)">
                <img ng-src="{{ pro.Imagen }}" style='width: 100%;'>
                <!--<div class="text-center product-price" style="font-size:.8rem;word-wrap: normal;">$0</div>-->
                <!--nuevo-->
                <div class="text-center product-price" style="font-size:.8rem;word-wrap: normal;">{{ pro.nombre}}</div>
                <!--nuevo-->
                <div class="num-productos" ng-if="ObtenerCantidadPedida(pro)">{{ ObtenerCantidadPedida(pro) }}</div>
              </article>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
  <!-- <ion-footer-bar class="bar-dark shopping-cart" ng-click="VerCesta()">
    <div ng-drop="true" ng-drop-success="onDropComplete($data, $event)"></div>
  </ion-footer-bar> -->

<ion-pull-up-footer class="bar-dark" on-expand="VerCesta()">
  <!-- <div ion-pull-up-trigger></div> -->

  <ion-pull-up-bar ion-pull-up-trigger>
    <div ng-drop="true" ng-drop-success="onDropComplete($data, $event)">
      <h3 class="text-center total-compra-preview" ng-show="TotalCompra()>0">{{ TotalCompra() + $domicilio | currency:"$":0 }}</h3>
    </div>
  </ion-pull-up-bar>

  <!-- <ion-pull-up-handle width="120" height="15" toggle="ion-chevron-down ion-chevron-up" style="border-radius: 5px 5px 0 0">
    <i class="icon ion-drag"></i>
  </ion-pull-up-handle> -->

  <ion-pull-up-content scroll="false" class="item item-body item-stable">

    <div class="spacer" style="height: 20px;"></div>
    <h2 class="text-center title-shopping-cart">Su pedido</h2>
    <!--<p class="text-center text-shopping-cart">Compra <strong>{{ TotalCompra() | currency:"$":0 }}</strong></p>
    <p class="text-center text-shopping-cart" ng-show="TotalCompra()>0">Domicilio <strong>{{ $domicilio | currency:"$":0 }}</strong></p>
    <p class="text-center text-shopping-cart" ng-show="TotalCompra()>0">Total compra <strong>{{ TotalCompra() + $domicilio | currency:"$":0 }}</strong></p>-->

    <div class="spacer" style="height: 20px;"></div>
    <!--<ion-list>
      <label class="item item-input item-select">
        <div class="input-label">Dirección</div>
        <select
          ng-model="direccionPedido"
          ng-change="CheckAddress(direccionPedido)">
          <option disabled value>Dirección de entrega</option>
          <option value='nva'>Agrega una nueva dirección</option>
          <option
            ng-repeat="dir in profileData.Direccion track by dir.Id"
            value="{{ dir.Id }}"
            ng-selected="dir.Id==direccionPedido">{{ dir.Tipo }} {{ dir.Num1}} # {{ dir.Num2 }} - {{ dir.Num3 }}</option>
        </select>
      </label>
    </ion-list>-->

    <ion-list>

      <button
        ion-pull-up-trigger
        ng-click="CheckPaciente()"
        class="button button-balanced button-block icon-left ion-paper-airplane">
        Crear Paciente
      </button>

    </ion-list>

    <ion-list>
      <ion-item>
      Paciente: {{paciente.nombres}} {{paciente.apellidos}}
    </ion-item>
    </ion-list>

    <h2 class="text-center title-shopping-cart">Forma de entrega</h2>

    <div class="row row-up row-app">
      <div class="col col-100" ng-repeat="entrega in tiposEntrega">
        <ion-checkbox ng-model="entrega.selected">{{ entrega.nombre }}</ion-checkbox>
      </div>
    </div>

    <h2 class="text-center title-shopping-cart">Su orden</h2>

    <ion-list>
      <ion-item ng-repeat-start="pro in catShow" class="item-divider category-name">
        {{ pro.name }}
        
      </ion-item>
      <ion-list ng-repeat-end class="category-sub-items box">
        <div class="row row-up row-app">
          <ion-item
            ng-repeat="sub in pro.subs"
            ng-class="sub.CssClass"
          >
            <label class="label-only">
              {{sub.name}}
              <span ng-if="sub.text">[{{ sub.text }}]</span>
            </label>
          </ion-item>
        </div>
      </ion-list>
      <div class="spacer" style="height: 20px;" ng-repeat-end></div>
    </ion-list>

    <h2 class="text-center title-shopping-cart">Observaciones</h2>
    <ion-list>
      <ion-item>
        <textarea
          rows="12"
          class="text-observaciones"
          placeholder="Observaciones"
          ng-model="$parent.observaciones"

        ></textarea>
      </ion-item>

      <div class="spacer" style="height: 20px;" ng-repeat-end></div>
    </ion-list>

    <div class="spacer" style="height: 20px;"></div>
    <ion-list>
      <label class="item item-input item-select">
        <div class="input-label">Dirección de envío:</div>
        <select
          ng-model="direccionPedido"
          ng-change="CheckAddress(direccionPedido)">
          <option disabled value>Dirección de entrega</option>
          <option value='nva'>Agrega una nueva dirección</option>
          <option
            ng-repeat="dir in direcciones track by dir.Id"
            value="{{ dir.Id }}"
            ng-selected="dir.Id==direccionPedido">{{ dir.Tipo }} {{ dir.Num1}} # {{ dir.Num2 }} - {{ dir.Num3 }}</option>
        </select>
      </label>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>

    <!--<ion-list>
      <label class="item item-input item-select">
        <div class="input-label">Pago</div>
        <select
          ng-model="medioPago">
          <option disabled value selected>Seleccione la forma de pago</option>
          <option
            ng-repeat="medio in mediosPago track by medio.Id"
            ng-if="medio.Activo"
            value="{{ medio.Id }}">{{ medio.Nombre }}</option>
        </select>
      </label>
    </ion-list>-->

    <ion-list>
      <button
        ion-pull-up-trigger
        ng-click="EnviarPedidoPanoramax()"
        class="button button-balanced button-block icon-left ion-paper-airplane">
      Remitir la orden
      </button>
      <button
        ion-pull-up-trigger
        ng-click="VaciarPedidoPanoramax()"
        class="button button-assertive button-block icon-left ion-trash-a">
        Borrar todo
      </button>
    </ion-list>
  </ion-pull-up-content>
</ion-pull-up-footer>

</ion-view>
