<ion-view class="inicio" view-title="Registrate">
  <ion-content>
    <form ng-submit="doLogin()" name="frmLogin">
      <div class="spacer" style="height: 10px;"></div>
      <center> <img src="img/logo.gif" width="90%"></center>
      <div class="spacer" style="height: 30px;"></div>
      <center><h3 class="titulo">Registro de doctores</h3></center>
      <div class="spacer" style="height: 10px;"></div>

      <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nombres</span>
            <input type="text" ng-model="loginData.nombres" placeholder="Nombres">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Apellidos</span>
            <input type="text" ng-model="loginData.apellidos" placeholder="Apellidos">
          </label>
        <!--  <label class="item item-input item-floating-label">
            <span class="input-label">Nombre de su empresa</span>
            <input type="text" ng-model="loginData.NombreEmpresa" placeholder="Empresa">
          </label>-->
           <label class="item item-input item-floating-label">
              <span class="input-label">Nombre de Consultorio</span>
              <input type="text" ng-model="loginData.Empresa.nombre" placeholder="Consultorio">
            </label>
          <h5 class="direccion text-left">Dirección</h5>
            <div class="item item-input-inset">

              <label class="item item-input item-select item-input-wrapper" style="padding-top: 14px; padding-bottom: 15px;">
                <select ng-model="loginData.Empresa.tipoDireccion" required style="text-align:left; width:100%; max-width: 100%;">
                  <option selected>Avenida</option>
                  <option>Calle</option>
                  <option>Carrera</option>
                  <option>Diagonal</option>
                  <option>Manzana</option>
                  <option>Transversal</option>
                </select>
              </label>
            </div>
          <div class="item item-input-inset">
            <div>&nbsp;&nbsp;&nbsp;</div>
            <label class="item item-input">
              <input type="text" placeholder="1a" ng-model="loginData.Empresa.Num1" required>
            </label>
            <div>&nbsp;#&nbsp;</div>
            <label class="item item-input">
              <input type="text" placeholder="30" ng-model="loginData.Empresa.Num2" required>
            </label>
            <div>&nbsp;-&nbsp;</div>
            <label class="item item-input">
              <input type="text" placeholder="15" ng-model="loginData.Empresa.Num3" required>
            </label>
          </div>
          <label class="item item-input item-floating-label">
            <span class="input-label">Descripción direccion</span>
            <input type="text" ng-model="loginData.Empresa.Descripcion" placeholder="Descripción">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Teléfono</span>
            <input type="text" ng-model="loginData.telefono" placeholder="Teléfono">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Correo Electrónico</span>
            <input type="text" ng-model="loginData.correo" placeholder="Correo">
          </label>

          <div class="item item-toggle">
             <label class="toggle toggle-positive">
               <input type="checkbox" ng-model="loginData.Terminos" required>
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
             Acepto los terminos de referencia
          </div>
          <label class="item">
            <button
              ng-disabled="frmLogin.$invalid"
              class="button button-block button-assertive"
              type="submit">Registrarme</button>
          </label>

      </div>


    <!--<ion-list class="form">
        <label class="item item-input">
          <input type="text" ng-model="loginData.Nombre" placeholder="Nombre Completo" required>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="loginData.NombreEmpresa" placeholder="Nombre de su empresa" required>
        </label>
        <h5 class="direccion text-center">Dirección</h5>
        <div class="spacer"></div>
        <div class="item item-input-inset">
          <label class="item item-input item-select item-input-wrapper" style="padding-top: 14px; padding-bottom: 15px;">
            <select ng-model="loginData.Direccion.Tipo" required style="max-width: 100%;padding: 0 24px 0 0;width: 100%;">
              <option selected>Avenida</option>
              <option>Calle</option>
              <option>Carrera</option>
              <option>Diagonal</option>
              <option>Manzana</option>
              <option>Transversal</option>
            </select>
          </label>
        </div>
        <div class="item item-input-inset">
          <div>&nbsp;&nbsp;&nbsp;</div>
          <label class="item item-input">
            <input type="text" placeholder="1a" ng-model="loginData.Direccion.Num1" required>
          </label>
          <div>&nbsp;#&nbsp;</div>
          <label class="item item-input">
            <input type="text" placeholder="30" ng-model="loginData.Direccion.Num2" required>
          </label>
          <div>&nbsp;-&nbsp;</div>
          <label class="item item-input">
            <input type="text" placeholder="15" ng-model="loginData.Direccion.Num3" required>
          </label>
        </div>
        <div class="item item-input">
          <input type="text" ng-model="loginData.Direccion.Descripcion" placeholder="Descripción de su dirección">
        </div>
        <label class="item item-input">
          <input type="tel" ng-model="loginData.Telefono" placeholder="Teléfono" required>
        </label>
        <label class="item item-input">
          <input type="email" ng-model="loginData.Correo" placeholder="Correo Electrónico" required>
        </label>
        <div class="spacer" style="height: 12px;"></div>

        <div class="item item-toggle">
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="loginData.Terminos" required>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
           Acepto los terminos de referencia
        </div>
        <label class="item">
          <button
            ng-disabled="frmLogin.$invalid"
            class="button button-block button-assertive"
            type="submit">Registrarme</button>
        </label>
      </ion-list>-->
    </form>
  </ion-content>
</ion-view>
