<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Nueva dirección</h1>
    <button class="button button-assertive" ng-click="cerrarNvaDireccion()"><i class="icon ion-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="nvaDireccion()" name="frmNvaDir">
      <div class="spacer" style="height: 80px;"></div>
      <h4 class="text-center">Agrega una nueva dirección a tu perfil</h4>
      <div class="spacer" style="height: 80px;"></div>
      <ion-list>
        <div class="item item-input-inset">
          <label class="item item-input item-select item-input-wrapper" style="padding-top: 14px; padding-bottom: 15px;">
            <select ng-model="direccion.tipoDireccion" required style="max-width: 100%;padding: 0 24px 0 0;width: 100%;">
              <option selected>Avenida</option>
              <option>Calle</option>
              <option>Carrera</option>
              <option>Diagonal</option>
              <option>Manzana</option>
              <option>Transversal</option>
            </select>
          </label>
        </div>
        <div class="item item-input-inset">
          <div>&nbsp;&nbsp;&nbsp;</div>
          <label class="item item-input">
            <input type="text" placeholder="1a" ng-model="direccion.Num1" required>
          </label>
          <div>&nbsp;#&nbsp;</div>
          <label class="item item-input">
            <input type="text" placeholder="30" ng-model="direccion.Num2" required>
          </label>
          <div>&nbsp;-&nbsp;</div>
          <label class="item item-input">
            <input type="text" placeholder="15" ng-model="direccion.Num3" required>
          </label>
        </div>
        <div class="item item-input">
          <input type="text" ng-model="direccion.nombre" placeholder="Nombre">
        </div>
        <div class="item item-input">
          <input type="text" ng-model="direccion.Descripcion" placeholder="Descripción">
        </div>

        <label class="item">
          <button
            ng-disabled="frmNvaDir.$invalid"
            class="button button-block button-positive"
            type="submit">Guardar dirección</button>
        </label>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar></ion-footer-bar>
</ion-modal-view>
