<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Nuevo Paciente</h1>
    <button class="button button-assertive" ng-click="cerrarNvaPaciente()"><i class="icon ion-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="nvaPaciente()" name="frmNvaPaciente">
      <div class="spacer" style="height: 30px;"></div>
      <h4 class="text-center">Agrega un nuevo Paciente</h4>
      <div class="spacer" style="height: 30px;"></div>
      <div>Por favor digite todos los campos</div>
      <ion-list>
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="paciente.nombres" required placeholder="Nombres">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="paciente.apellidos" required placeholder="Apellidos">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="paciente.telefono" required placeholder="Telefono">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="paciente.edad" required placeholder="Edad">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="paciente.email" required placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="paciente.cedula" required placeholder="No. Identificacion">
          </label>
          <label class="item item-input">
            <label>Fecha de nacimiento:</label>
          </label>
          <label class="item item-input">
            <input type="date" ng-model="paciente.fechaNacimiento" required placeholder="Fecha de nacimiento">
          </label>
        </div>
        <label class="item">
          <button
            ng-disabled="frmNvaPaciente.$invalid"
            class="button button-block button-positive"
            type="submit">Guardar paciente</button>
        </label>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar></ion-footer-bar>
</ion-modal-view>
