<ion-view view-title="Mis pedidos">
  <ion-content>
    <div ng-if="pedidos.length > 0">
      <div class="spacer" style="height: 12px;"></div>
      <h4 class="text-center">Estos son tus ultimas ordenes</h4>
      <div class="spacer" style="height: 12px;"></div>
    </div>
    <div ng-if="pedidos.length == 0">
      <div class="spacer" style="height: 240px;"></div>
      <h3 class="text-center">Aun no tienes ordenes <i class="icon ion-sad-outline"></i></h3>
      <div class="spacer" style="height: 12px;"></div>
    </div>
    <ion-list>
      <ion-item
        class="item-button-right"
        ng-repeat="order in pedidos | orderBy: '-Fecha' ">
        <h2>{{ order.Paciente.nombres }} {{ order.Paciente.apellidos }} </h2>
        <p>{{ order.createdAt | date:'dd/MM/yyyy hh:mma' }}</p>
        <button class="button button-positive" ng-click="VerDetalle(order)">
          <i class="icon ion-search"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
