<ion-view view-title="Perfil de usuario">
  <ion-content>
    <form ng-submit="doUpdateProfile()">
      <div class="spacer" style="height: 30px;"></div>
      <h3 class="text-center">Mi perfil</h3>
      <div class="spacer" style="height: 40px;"></div>
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">Escribe tu nombre</span>
          <input type="text" ng-model="profileData.nombres" placeholder="Escribe tu nombre">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Escribe tus apellidos</span>
          <input type="text" ng-model="profileData.apellidos" placeholder="Escribe tu nombre">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Escribe tu e-mail</span>
          <input type="email" ng-model="profileData.correo" placeholder="Escribe tu e-mail">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Escribe tu teléfono</span>
          <input type="tel" ng-model="profileData.telefono" readonly placeholder="Escribe tu teléfono">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Actualizar perfil</button>
        </label>
        <div class="spacer" style="height: 12px;"></div>
        <!--<h4 class="text-center">Tus direcciones</h4>
        <div class="spacer" style="height: 12px;"></div>
        <label class="item">
          <button class="button button-block button-royal" type="button" ng-click="showForm()">
            <i class="icon ion-plus"></i>&nbsp;Nueva dirección</button>
        </label>

        <ion-list ng-show="mostrarFormulario">
          <div class="item item-input-inset">
            <label class="item item-input item-select item-input-wrapper" style="padding-top: 14px; padding-bottom: 15px;">
              <select ng-model="direccion.Tipo" required style="max-width: 100%;padding: 0 24px 0 0;width: 100%;">
                <option selected>Avenida</option>
                <option>Calle</option>
                <option>Carrera</option>
                <option>Diagonal</option>
                <option>Manzana</option>
                <option>Transversal</option>
              </select>
            </label>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <label class="item-input-wrapper">
              <input type="text" ng-model="direccion.Num1" required>
            </label>
            <div>&nbsp;#&nbsp;</div>
            <label class="item-input-wrapper">
              <input type="text" ng-model="direccion.Num2" required>
            </label>
            <div>&nbsp;-&nbsp;</div>
            <label class="item-input-wrapper">
              <input type="text" ng-model="direccion.Num3" required>
            </label>
          </div>
          <div class="item item-input">
            <input type="text" ng-model="direccion.Descripcion" placeholder="Descripción">
          </div>

          <label class="item">
            <button class="button button-block button-balanced" type="button" ng-click="saveAddress()">
              <i class="icon ion-archive"></i>&nbsp;Guardar dirección</button>
          </label>
        </ion-list>

        <ion-list>
          <ion-item ng-repeat="dir in profileData.Direccion">
            <div class="row row-center">
              <div class="col col-80">
                <h3>{{ dir.Tipo }} {{ dir.Num1 }} # {{ dir.Num2 }} - {{ dir.Num3 }}</h3>
                <small>{{ dir.Descripcion }}</small>
              </div>
              <div class="col col-20">
                <button class="button button-small button-balanced" type="button" ng-click="showForm(dir)">
                  <i class="icon ion-edit"></i>
                </button>
                <button class="button button-small button-assertive" type="button" ng-click="deleteDir(dir.Id)">
                  <i class="icon ion-trash-a"></i>
                </button>
              </div>
            </div>
          </ion-item>
        </ion-list>-->
      </ion-list>
    </form>
  </ion-content>
</ion-view>
