<ion-view class="inicio" view-title="Registrate">
  <ion-content>
    <form ng-submit="doValidate()" name="frmValidar">
      <div class="spacer" style="height: 80px;"></div>
      <h4 class="text-center">Se ha enviado un código de<br>verificación SMS</h4>
      <div class="spacer" style="height: 120px;"></div>
      <ion-list>
        <label class="item item-input">
          <input
            type="text"
            required
            ng-minlength="6"
            ng-maxlength="6"
            ng-model="loginData.clave"
            placeholder="Escribe el código de seguridad">
        </label>
        <label class="item">
          <button
            ng-disabled="frmValidar.$invalid"
            class="button button-block button-positive" type="submit">Entrar</button>
        </label>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
