/* Empty. Add your own CSS if you like */
.row.row-app {
  flex-wrap: wrap;
}
ion-slide .box {
  background-color: white;
  min-width: 100vw;
  min-height: 50vh;
}
.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.col-100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.category-class {
  color: #a8462b;
  font-size: 1.5rem;
  padding: 0 0 16px 16px;
}
.sub-category-class {
  color: #a8462b;
  font-size: 1.1rem;
  padding: 0 0 0 52px;
  margin: 8px 0;
}
.category-name label {
  background-color: transparent;
  color: #FF880A;
  font-size: 1.25rem;
}
.category-sub-items .item {
  border: none;
  padding: 4px 0 4px 32px;
}
.category-sub-items .item.item-stacked-label {
  padding-left: 20px;
}
.category-sub-items .item-checkbox .item-content {
  padding-left: 16px;
  padding-top: 1px;
}
.category-sub-items .label-only {
  padding-left: 48px;
  padding-top: 1px;
  font-size: 16px;
}
.text-observaciones {
  border: 1px solid #ddd;
  padding: 12px;
  resize: none;
  width: 100%;
}
.vp-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.vm-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
[ng-drag]{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[ng-drag]{
  cursor: move;
}
[ng-drag].drag-over{
  border: solid 1px red;
}
[ng-drag].dragging{
  /*opacity: 0.5;*/
  position: relative;
  z-index: 999;
}
[ng-drag].dragging img {
  transform: scale(2);
}
[ng-drag].dragging .product-price {
  display: none;
}
[ng-drop] {
  background-image: url('../img/fondo-footer.png');
  background-size: cover;
  /*height: 100%;*/
  width: 100%;
}
[ng-drop].drag-enter{
  background-position-y: 60%;
}

.producto {
  position: relative;
}
.shopping-cart {
  height: 76px;
}
.num-productos {
  background-color: #06FF00;
  border-radius: 50%;
  border: 1px solid #05DD00;
  color: white;
  font-weight: bold;
  height: 1.4rem;
  left: 0;
  line-height: 1.2rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.4rem;
}

.total-compra-preview {
  color: white;
}
.title-shopping-cart {
  font-size: 1.75rem !important;
}
.text-shopping-cart {
  font-size: 1.25rem !important;
}

.inicio{
  /* border: 10px solid orange;*/
   border: 10px solid transparent;
   border-image:url("/img/fondo.jpg") 30 30 repeat;

}
.titulo{
  padding-top: 20px;
  background-color: #a8462b;
  height: 70px;
  color:white;
}
.direccion{
  color: #A1A1A1;
  padding-left: 15px;
}

.bar.bar-positive{
  background-color: #a8462b;
  border-color: #a8462b;
}
.bar.bar-dark{
  background-color: #a8462b;
  border-color: #a8462b;
}
.button.button-assertive{
  background-color: #a8462b;
  border-color: #a8462b;
}

.menu{
  background-image: url("/img/fondo.jpg") no-repeat;
}

.cajastexto{
  border: 10px;
  border-color: red;
}
